
body {
    background-color: black;
    color: rgb(88,88,150);
    font-family: oda,comic sans ms,sans-serif;
    font-size: x-large;
}
.word {
    cursor: hand;
}
.current-word {
    color: rgb(245, 66, 212);
}        
.read-word {
    color: cornflowerblue;
}        
.heard-word {
    border-bottom-color: rgb(245, 66, 212);
    border-bottom-style: dashed;
    border-bottom-width: thin;
}

li.line {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 20;
}
#story {
    overflow: scroll;
    display: block;
    height: 50%;
    position: absolute;
    bottom: -0;
    min-height: 200;
}
#status {
    cursor: hand;
}

.popup {
    display: none;
    position: absolute;
    color: white;
    padding: 7px;
    border: solid 1px #ddd;
    background: green;
  }

  ol.menu {
    margin-block-end: 0;
    margin-block-start: 0;

    list-style-type: none;
    margin: 0;
    padding: 0;

    cursor: hand;
  }

  /* Toggle this class - hide and show the popup */
  .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }